<div id="flashMessages" class="d-none">
  <% if (success && success.length > 0) { %>
    <% success.forEach((message) => { %>
      <div data-type="success" data-message="<%= message %>"></div>
    <% }) %>
  <% } %>
  <% if (error && error.length > 0) { %>
    <% error.forEach((message) => { %>
      <div data-type="error" data-message="<%= message %>"></div>
    <% }) %>
  <% } %>
</div>
